.anchor {
  width: fit-content;
}

.tooltip {
  --delay: 300ms;
  --tooltip-background-color: #000b;
  --tooltip-text-color: #fff;
  --tooltip-padding: 1rem;
  --tooltip-border-radius: 1rem;
  --tooltip-margin: 0.25rem;
  --tooltip-spike-size: 0.5rem;
  --tooltip-spike-border: calc(var(--tooltip-spike-size) / 2);

  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  padding: var(--tooltip-padding);
  border-radius: var(--tooltip-border-radius);

  position: absolute;
  visibility: hidden;
  opacity: 0;

  transition: opacity 375ms var(--delay);
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.top,
.bottom {
  transform: translateX(-50%);
}

.left,
.right {
  transform: translateY(-50%);
}

.top,
.bottom,
.left,
.right {
  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: var(--tooltip-spike-size);
    height: var(--tooltip-spike-size);
  }
}

.top {
  &::before,
  &::after {
    top: 100%;
    border-top: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-bottom: var(--tooltip-spike-border) solid transparent;
  }

  &::before {
    right: 50%;
    border-right: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-left: var(--tooltip-spike-border) solid transparent;
  }

  &::after {
    left: 50%;
    border-left: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-right: var(--tooltip-spike-border) solid transparent;
  }
}

.bottom {
  &::before,
  &::after {
    bottom: 100%;
    border-bottom: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-top: var(--tooltip-spike-border) solid transparent;
  }

  &::before {
    right: 50%;
    border-right: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-left: var(--tooltip-spike-border) solid transparent;
  }

  &::after {
    left: 50%;
    border-left: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-right: var(--tooltip-spike-border) solid transparent;
  }
}

.left {
  &::before,
  &::after {
    left: 100%;
    border-left: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-right: var(--tooltip-spike-border) solid transparent;
  }

  &::before {
    bottom: 50%;
    border-bottom: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-top: var(--tooltip-spike-border) solid transparent;
  }

  &::after {
    top: 50%;
    border-top: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-bottom: var(--tooltip-spike-border) solid transparent;
  }
}

.right {
  &::before,
  &::after {
    right: 100%;
    border-right: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-left: var(--tooltip-spike-border) solid transparent;
  }

  &::before {
    bottom: 50%;
    border-bottom: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-top: var(--tooltip-spike-border) solid transparent;
  }

  &::after {
    top: 50%;
    border-top: var(--tooltip-spike-border) solid var(--tooltip-background-color);
    border-bottom: var(--tooltip-spike-border) solid transparent;
  }
}
