.list {
  --list-item-spacing: 1rem;

  --list-bullet-color: #fdf800;

  --list-number-color: #ededed;

  --list-icon-spacing: 0.5rem;

  margin-top: 1rem;

  li {
    margin-bottom: var(--list-item-spacing);
    cursor: pointer;
    color: white;
    font-size: 1rem;
    &::marker {
      list-style-type: decimal;
      color: var(--list-number-color);
    }
  }

  &.unordered li::marker {
    list-style-type: disc;
    color: var(--list-bullet-color);
  }
}

.item:has(.icon) {
  list-style-type: none;
}

.content {
  display: flex;
  align-items: center;
  gap: var(--list-icon-spacing);
  width: 99%;
  margin-bottom: var(--list-item-spacing);
  transition: transform 0.2s ease;
  &:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }
}

.icon {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.multiline .icon {
  align-self: flex-start;
}

.singleLine .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiline .text {
  white-space: normal;
  word-break: break-word;
  line-height: 1.5;
}

.multiline .text::first-line {
  line-height: normal;
}

.separator {
  border: none;
  border-top: 1px solid #9e9e9e;
}
