.button-base {
  --c-black: #0f1108;
  --c-blue: #2374ab;
  --c-white: #f4f4ed;
  --c-disabled-background: #b2b2b2;

  --button-primary-background: var(--c-black);
  --button-secondary-background: var(--c-white);
  --button-primary-text-color: var(--c-white);
  --button-secondary-text-color: var(--c-black);
  --button-border-radius: 4px;

  --button-padding-sm: 8px 10px;
  --button-padding-md: 10px 14px;
  --button-padding-lg: 14px 18px;

  --button-font-size-sm: 12px;
  --button-font-size-md: 16px;
  --button-font-size-lg: 20px;

  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.button-base:not(:disabled):hover {
  opacity: 0.8;
}

.button-sm {
  padding: var(--button-padding-sm);
  font-size: var(--button-font-size-sm);
}

.button-md {
  padding: var(--button-padding-md);
  font-size: var(--button-font-size-md);
}

.button-lg {
  padding: var(--button-padding-lg);
  font-size: var(--button-font-size-lg);
}

.button-primary {
  background-color: var(--button-primary-background);
  color: var(--button-primary-text-color);
  border: none;
}

.button-secondary {
  background-color: var(--button-secondary-background);
  border: 1px solid currentColor;
  color: var(--button-secondary-text-color);
}

.button-outline {
  background-color: transparent;
  border: 1px solid currentColor;
  color: var(--c-black);
}

.button-ghost {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--button-primary-text-color);
}

.button-link {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--button-primary-text-color);
  text-decoration: underline;
}

.button-disabled {
  background-color: var(--c-disabled-background);
  cursor: default;
}

.button-loader {
  width: 18px;
  height: 18px;
  border: 4px solid #ccc9e7;
  border-top: 4px solid var(--c-blue);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.button-state {
  width: 18px;
  height: 18px;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.button-icon {
  width: 18px;
  height: 18px;
}

.button-state-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  border-radius: inherit;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
